.numbered_titles span {
font-weight: unset;
}

.technology_details h3 {
opacity: .5;
}
.grid_container {
padding-bottom: 4rem;
padding-inline: unset;
}

.grid_container_technology {
  --flow-space: 2rem;
  grid-template-areas: 
". title ."
        "image image image"
        ". tabs ."
        ". content .";
}

.numbered_titles {
grid-area: title;
}

.grid_container_technology > picture {
grid-area: image;
}

.grid_container_technology > .number_indicators {
grid-area: tabs;
}

.grid_container_technology > .technology_details {
grid-area: content;
padding-inline: 2rem;
}

#launch-vehicle-landscape {
  background-image: url('assets/technology/image-launch-vehicle-landscape.jpg');
}

@media (min-width: 45rem) {
  .numbered_titles {
      justify-self: start;
      margin-top: 2rem;
  }
}

@media (min-width: 45rem) {
    .grid_container_technology {
      
              grid-template-columns: minmax(10rem, 5fr) minmax(2rem, 35rem) minmax(0, 35rem) minmax(1rem, 1fr);
    justify-items: end;
        grid-template-areas:
        'title title title'
        'tabs content image'
        'tabs content image';
  }

  .grid_container_technology > picture {
    max-width: 100%;  
    }

    .number_indicators {
      flex-direction: column;
    }

    #launch-vehicle-landscape {
      background-image: url('assets/technology/image-launch-vehicle-portrait.jpg');
    }
}

.line_height {
    line-height: 33.4px;
}
 .technology_details > header {
  --flow-space: -0.25rem;
 }
.technology_details h3{
  font-size: var(--font-size-18);
}

.technology_details h1{
  font-size: var(--font-size-28);
}

@media (min-width: 35rem) {
.technology_details h3{
  font-size: var(--font-size-28);
}

.technology_details h1{
  font-size: var(--font-size-32);
}

}
@media (min-width: 45rem) {
.technology_details h3{
  font-size: var(--font-size-32);
}

.technology_details h1{
  font-size: 50px; 
}

}

@media (max-width: 45rem) {
header h3,
header h1 {
  display:block;
}
}