:root {
  /* no comma allows you to use the hsl function with the alpha value (Transparency */
	--color-blue-900: 230 35% 7%;
	--color-blue-300: 231 77% 90%;
	--color-white: 0 0% 100%;
	
  /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

	--font-size-144: clamp(5rem, 7vw + 1rem, 9.375rem) ; /* 144px;*/
  --font-size-100: 100px;
  --font-size-56: 56px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;

	--font-height-normal: normal;

	--font-spacing-0: 0px;
	--font-spacing-2: 2px;
	--font-spacing-4: 4px;	
}

/* containers */
.flex {
  display: flex;
  gap: var(--gap, 1rem); /* custom property is the first parameter */

}

.flex_mobile {
    display:flex;
    flex-direction: column;
}

.grid {
  display: grid;
gap: var(--gap, 1rem); /* custom property is the first parameter */
}

/* style elements that have a direct sibling before it */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow_space_small {
  --flow-space: .75rem;
}
.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}


/* primary header */
.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.logo_banner {
  width: 2rem;
}

/* screen reader only */
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ship to content hidden link */
.skip_to_content {
  background: hsl( var(--color-white)); 
  color: hsl( var(--color-blue-900));
  padding: .5em 1em;
  margin-inline: auto;
  position: absolute;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip_to_content:focus{
  transform: translateY(0);
}

/* tablet */
@media (min-width: 35em){
  :root {
    --font-size-144: 150px;
    --font-size-56: 80px;
    --font-size-32: 40px;
    --font-size-28: 24px;
    --font-size-18: 16px;
  }
}

/* larger */
@media (min-width: 45em){
  :root{
      --font-size-100: 100px;
      --font-size-56: 56px;
      --font-size-32: 32px;
      --font-size-18: 18px;
  }
}

/* typography */
.ff-bellefair { font-family: var(--ff-serif); } 
.ff-barlow-cond { font-family: var(--ff-sans-cond); } 
.ff-barlow-normal { font-family: var(--ff-sans-normal); } 

.letter_spacing_1 { letter-spacing: 4.75px; } 
.letter_spacing_2 { letter-spacing: 2.7px; } 
.letter_spacing_3 { letter-spacing: 2.35px; } 

.line_height {
  line-height: 27.4px;
}
.font_size_144{ font-size: var(--font-size-144); }
.font_size_100{ font-size: var(--font-size-100); }
.font_size_56{ font-size: var(--font-size-56); }
.font_size_32{ font-size: var(--font-size-32); }
.font_size_28{ font-size: var(--font-size-28); }
.font_size_18{ font-size: var(--font-size-18); }
.font_size_16{ font-size: var(--font-size-16); }
.font_size_14{ font-size: var(--font-size-14); }

.font_weight_200 {
  font-weight: 200;
}
.numbered_titles {
    font-size: var(--font-size-16);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

@media (min-width: 35rem) {
  .numbered_titles {
    font-size: var(--font-size-18);
  }
}

@media (min-width: 45rem) {
  .numbered_titles {
    font-size: var(--font-size-28);
  }
}

.numbered_titles span {
    margin-right: .5em;
    font-weight: 700;    
    color: hsl(var(--color-white) / .25);
}

/* colors */

.bg-dark { background-color: hsl( var(--color-blue-900)) ;}
.bg-accent { background-color: hsl( var(--color-blue-300)) ;}
.bg-white { background-color: hsl( var(--color-white)) ;}

.text-dark { color: hsl( var(--color-blue-900)) ;}
.text-accent { color: hsl( var(--color-blue-300)) ;}
.text-white { color: hsl( var(--color-white)) ;}

.example_component {
  background-color: hsl(var(--color-white) / .50);
}

.uppercase {
  text-transform: uppercase;
}

.d-block {
  display: block;
}

.flex.even-columns > * {
  width: 100%;
  outline: 1px solid limegreen;
}

.flex-top-right-position {
  height: 300px; /* experiment with the height to see results */
  display: flex; 
  justify-content: flex-end; /* move content all the way to the right (while theres room*/
  align-items: flex-start;  /* move content all the way to the top (while theres room */
}
.header {
  justify-content: space-between;
  align-items: center;
}


.hidden {
  opacity: 0;
  transition: opacity 0s ease-out;
 /*  display: none; */
}
.visible {
  opacity: 1;
  transition: opacity 1s ease-in;
 /*   display: block; */
}